.line{
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: black;
    color: #fff;
    padding: 5px 0px;
    position: relative;
    z-index: -1;
}.line>ul{
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    animation-duration: 0s;
    animation: go 5s linear infinite;  
    position: relative;  
}.line>ul>li{
    font-size: 30px;
    display: flex;
    gap: 2px;
    font-weight: bolder;
}
@media (max-width:426px) {
    .line>ul>li{
        font-size: 20px;
        display: flex;
        gap: 2px;
        font-weight: bolder;
    }
    .line>ul{
        padding: 10px 0px;
    }
}
@keyframes go {
    0%{
        left: -205px;
    }50%{
        left: -100px;
    }70%{
        left: -40px;
    }100%{
        left: 0px;
    }
}
