.women{
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   z-index: -122px;
}

@media (max-width:426px) {
    .mens{
        display: grid;
        grid-template-columns: repeat(2,50%);
        padding: 20px;
    }
 }